In [1]:
import numpy as np
from pandas import DataFrame,Series
import pandas as pd

In [2]:
url='http://www.fdic.gov/bank/individual/failed/banklist.html'

In [4]:
dflist=pd.io.html.read_html(url)

In [8]:
df1=dflist[0]

In [6]:
df1

                                             Bank Name         ...                Closing Date
0                           First City Bank of Florida         ...            October 16, 2020
1                                 The First State Bank         ...               April 3, 2020
2                                   Ericson State Bank         ...           February 14, 2020
3                     City National Bank of New Jersey         ...            November 1, 2019
4                                        Resolute Bank         ...            October 25, 2019
5                                Louisa Community Bank         ...            October 25, 2019
6                                 The Enloe State Bank         ...                May 31, 2019
7                  Washington Federal Bank for Savings         ...           December 15, 2017
8      The Farmers and Merchants State Bank of Argonia         ...            October 13, 2017
9                                  Fayette County Bank         ...                May 26, 2017
10   Guaranty Bank, (d/b/a BestBank in Georgia & Mi...         ...                 May 5, 2017
11                                      First NBC Bank         ...              April 28, 2017
12                                       Proficio Bank         ...               March 3, 2017
13                       Seaway Bank and Trust Company         ...            January 27, 2017
14                              Harvest Community Bank         ...            January 13, 2017
15                                         Allied Bank         ...          September 23, 2016
16                        The Woodbury Banking Company         ...             August 19, 2016
17                              First CornerStone Bank         ...                 May 6, 2016
18                                  Trust Company Bank         ...              April 29, 2016
19                          North Milwaukee State Bank         ...              March 11, 2016
20                              Hometown National Bank         ...             October 2, 2015
21                                 The Bank of Georgia         ...             October 2, 2015
22                                        Premier Bank         ...               July 10, 2015
23                                      Edgebrook Bank         ...                 May 8, 2015
24                              Doral Bank  En Espa√±ol         ...           February 27, 2015
25                   Capitol City Bank & Trust Company         ...           February 13, 2015
26                             Highland Community Bank         ...            January 23, 2015
27                    First National Bank of Crestview         ...            January 16, 2015
28                                  Northern Star Bank         ...           December 19, 2014
29              Frontier Bank, FSB D/B/A El Paseo Bank         ...            November 7, 2014
..                                                 ...         ...                         ...
532                                  ANB Financial, NA         ...                 May 9, 2008
533                                          Hume Bank         ...               March 7, 2008
534                             Douglass National Bank         ...            January 25, 2008
535                                  Miami Valley Bank         ...             October 4, 2007
536                                            NetBank         ...          September 28, 2007
537                          Metropolitan Savings Bank         ...            February 2, 2007
538                                    Bank of Ephraim         ...               June 25, 2004
539                                      Reliance Bank         ...              March 19, 2004
540              Guaranty National Bank of Tallahassee         ...              March 12, 2004
541                                Dollar Savings Bank         ...           February 14, 2004
542                               Pulaski Savings Bank         ...           November 14, 2003
543              First National Bank of Blanchardville         ...                 May 9, 2003
544                              Southern Pacific Bank         ...            February 7, 2003
545                        Farmers Bank of Cheneyville         ...           December 17, 2002
546                                      Bank of Alamo         ...            November 8, 2002
547             AmTrade International Bank  En Espa√±ol         ...          September 30, 2002
548                     Universal Federal Savings Bank         ...               June 27, 2002
549                       Connecticut Bank of Commerce         ...               June 26, 2002
550                                   New Century Bank         ...              March 28, 2002
551                              Net 1st National Bank         ...               March 1, 2002
552                                       NextBank, NA         ...            February 7, 2002
553                           Oakwood Deposit Bank Co.         ...            February 1, 2002
554                              Bank of Sierra Blanca         ...            January 18, 2002
555                      Hamilton Bank, NA  En Espa√±ol         ...            January 11, 2002
556                             Sinclair National Bank         ...           September 7, 2001
557                                 Superior Bank, FSB         ...               July 27, 2001
558                                Malta National Bank         ...                 May 3, 2001
559                    First Alliance Bank & Trust Co.         ...            February 2, 2001
560                  National State Bank of Metropolis         ...           December 14, 2000
561                                   Bank of Honolulu         ...            October 13, 2000

[562 rows x 6 columns]

In [10]:
df1.columns.values

array(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date'], dtype=object)

In [11]:
df1.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date'],
      dtype='object')